@import "../../assets/GlobalStyle.scss";
.logo{
    position: relative;
    width : 20rem;
    height : 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        width : 40px;
        height : 40px;
    }

    .title{
        font-size: 2rem;
        font-family: $Raleway-font;
    }
}
