@import "../../assets/GlobalStyle.scss";

.Banner-container{
    position : relative;
    width : 100%;
    height : 70vh;

    video{
        position: absolute;
        top : 0;
        left : 0;
        width : 100%;
        height : 100%;
        object-fit: cover;
    }

    .Banner-content{
        position: absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%,-50%);
        width : 80%;
        height : 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 10;
        color : #fff;

        .Banner-Subtitle{
            font-size: 1.5rem;
            font-family: $Raleway-font;
        }

        .Banner-title{
            font-size: 7rem;
            font-family: $Raleway-font;
            text-transform: uppercase;
        }

        .korean-info{
            font-size: 1.5rem;
            font-family: $DoHyeon-font;
        }
    }
}